{% extends 'base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
    <h1>Media index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>Path</th>
                <th>FlacExists</th>
                <th>TranscriptJson</th>
                <th>TranscriptRequested</th>
                <th>Word_count</th>
                <th>File_size</th>
                <th>Duration</th>
                <th>Speaker</th>
                <th>Display</th>
                <th>Marking</th>
                <th>LastTransitionTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td>{{ medium.id }}</td>
                <td>{{ medium.filename }}</td>
                <td>{{ medium.path }}</td>
                <td>{{ medium.flacExists ? 'Yes' : 'No' }}</td>
                <td>{{ medium.transcriptJson }}</td>
                <td>{{ medium.transcriptRequested ? 'Yes' : 'No' }}</td>
                <td>{{ medium.wordCount }}</td>
                <td>{{ medium.fileSize }}</td>
                <td>{{ medium.duration }}</td>
                <td>{{ medium.speaker }}</td>
                <td>{{ medium.display }}</td>
                <td>{{ medium.marking }}</td>
                <td>{{ medium.lastTransitionTime ? medium.lastTransitionTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('media_show', {'id': medium.id}) }}">show</a>
                    <a href="{{ path('media_edit', {'id': medium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('media_new') }}">Create new</a>
{% endblock %}
