{% extends 'base.html.twig' %}

{% import _self as macro %}

{% block title %}Media {{ media.filename }}!{% endblock %}

{% block markerForm %}
        {{ form_start(form) }}
        {{ form_widget(form) }}


<input type="submit" class="btn" value="Create" />
{{ form_end(form) }}
{% endblock %}

{# this could really be a menuitem, too #}
{% block switchMediaForm %}
    {# todo: make this inline and auto-jump #}
    {{ form_start(switchForm, { 'attr': {'class': 'form-inline'} }) }}
    {{ form_widget(switchForm) }}

    <input type="submit" class="btn btn-xs" value="Switch" />
    {{ form_end(switchForm) }}

{% endblock %}

    {% macro mediaWords(media) %}
        {% set markers = media.markersByWordIndex %}
        {% for words in media.words|batch(150) %}
            <p>
                {% for word in words %}
                    {# if the word in in a marker, display the entire marker instead, in the right color #}
                    {% if word.marker %}
                        {% if word.marker.firstWordIndex == word.id %}
                            {% set marker = word.marker %}
                            {% if not marker.hidden %}
                        <span {% if marker.irrelevant %}class="irrelevant"{% else %}style="color: {{ word.marker.color }}" {% endif %}>

                            {{ word.marker.note }}
                        </span>
                                {% endif %}
                            {% else %}
                                {#
                            <strike>{{ word.word }}</strike>
                            #}
                            {% endif %}
                    {% else %}
                        <span id="w_{{ word.id }}" class="word" data-word-index={{ word.id }} data-start="{{ word.startTime }}" data-word="{{ word.word }}" data-end="{{ word.endTime }}">{{ word.word }}</span>
                    {% endif %}
                {% endfor %}
            </p>


        {% endfor %}

    {% endmacro %}


{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('project_show', media.project.rp) }}">{{ media.project.code }}</a> /
        <a href="{{ path('media_show', media.rp) }}">{{ media.filename }}</a>

    </li>
{% endblock %}

{% block listMarkers %}
<ul>
    {% for marker in media.markers %}
        {% if not marker.irrelevant and not marker.hidden %}
        <li style="color:{{ marker.color }}">{{ marker.note }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% macro audio_player(media) %}
    {% if media %}
        {% set source = media.publicUrl('flac') %}
        {% if app.request.get('debug') %}
        <a href="{{ source }}">{{ source }}</a><br />
            {% endif %}
    {% endif %}
    <div class="col-sm-12">
        {% if offline %}
            OFFLINE
        {% else %}
            <audio id="audio" controls="controls" style="width: 100%;">
                <source id="audioSource" {% if media and not offline %}src="{{ source  }}">{% endif %}</source>
                Your browser does not support the audio format.
            </audio>
        {% endif %}

    </div>
{% endmacro %}

{% block content %}

    {#
    <div class="row">
        <div class="col-sm-12">
            {{ block('breadcrumbs') }}
        </div>
    </div>
    #}


    <div class="row">
        <div class="col-sm-12">
            {{ macro.audio_player(media) }}
        </div>
    </div>


    {% if offline %}OFFLINE{% else %}
        {% if app.request.get('debug') %}
    {{ object ? "%s: (%2.1fmb)"|format(object.gcsUri, object.info.size / (1024*1024))  : 'object does not exist' }}
            {% endif %}
    {% endif %}
    <div class="row">

        <div class="col-lg-4">

            {{ block('markerForm') }}
            <div class="markerList">
                {{ block('listMarkers') }}
            </div>
        </div>

            <div class="col-lg-8">
                {{ block('switchMediaForm') }}
            <h3>Transcript {{ media.filename }}</h3>

            <div class="transcript markerList" data-media-id="media_{{ media.id }}">

                {{ macro.mediaWords(media) }}

            </div>


            {#
            {% set idx = 0 %}
            {% for sentence in media.transcript %}
                <p>
                {% for a in sentence.alternatives %}
                    {% set start = a.words[0].startTime|trim('s')|round(0, 'floor') %}
                    {% set end = a.words[a.words|length - 1].startTime|trim('s')|round(0, 'ceil') %}
                    {% for word in a.words %}
                        {% set idx = idx + 1 %}
                        <span class="word" data-word-index={{ idx }} data-start="{{ word.startTime }}" data-end="{{ word.endTime }}">{{ word.word }}</span>
                    {% endfor %}
                {% endfor %}
                </p>
            {% endfor %}
            #}
        </div>
    </div>


    {% if false %}
    <h3>Transcript by sentence</h3>
        <div>
        {% for sentence in media.transcript %}
            <table id="list">

                {% for a in sentence.alternatives %}
                    {% set start = a.words[0].startTime|trim('s')|round(0, 'floor') %}
                    {% set end = a.words[a.words|length - 1].startTime|trim('s')|round(0, 'ceil') %}
                    {#
                    {{ dump(start, end) }}
                    #}
                    {% set audio = path('media_stream', media.rp({start:start, duration: max(2, (end - start + 1)), _format: 'mp3'})) %}
                    <tr>
                        <td>
                            <a href="#" data-value="{{ audio }}">Play {{ audio }}</a>
                            <br /><a href="{{ audio }}"><i class="fa fa-download">Download</i> <small>{{ audio }}</small> </a>
                            <br /><a href="{{ path('media_stream', media.rp({_format: 'flac'}) ) }}"><i class="fa fa-download">Flac</i>  </a>

                        </td>

                        <td>
                            {{ a.transcript }}
                        </td>
                        <td>
                            <i>{{ (a.confidence*100)|number_format }}</i>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
    {% endif %}

    {% if app.request.get('debug') %}
        <pre>
            {{ media.transcriptJson }}
        </pre>
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {% if not offline %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    {% endif %}
    <script src="/js/markers.js"></script>

{% endblock  %}
