{% extends '@SurvosLanding/public_base.html.twig' %}

{% block title %}Media {{ media.filename }}!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" class="btn" value="Create" />
        {{ form_end(form) }}

            <ul>
                {% for marker in media.markers %}
                    <li>{{ marker.title }} <i>{{ marker.note }}</i></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
        {% set source = media.publicUrl('flac') %}
        <audio id="audio" controls="controls" style="width: 100%;">
            <source id="audioSource" src="{{ source  }}"></source>
            Your browser does not support the audio format.
        </audio>
        <br /><a href="{{ source }}">{{ source }}</a>

        </div>
    </div>

    {{ object ? "%s: (%2.1fmb)"|format(object.gcsUri, object.info.size / (1024*1024))  : 'object does not exist' }}

    <div class="row">
        {% if false %}
        <div class="col-lg-6">
            <ul style="list-style: none">
                <li>Audio Files
                    <ul id="xlist">
                        {#
                        <li><a href="#" data-value="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.oga">Death_Becomes_Fur.oga</a></li>
                        <li><a href="#" data-value="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4">Death_Becomes_Fur.mp4</a></li>
                        <li><a href="#" data-value="http://media.w3.org/2010/11/rrs006.oga">rrs006.oga</a></li>
                        <li><a href="#" data-value="http://media.w3.org/2010/05/sound/sound_90.mp3">sound_90.mp3</a></li>
                        #}

                        {% for sentence in media.transcript %}
                            {% for a in sentence.alternatives %}
                                {% set start = a.words[0].startTime|trim('s')|round(0, 'floor') %}
                                {% set end = a.words[a.words|length - 1].startTime|trim('s')|round(0, 'ceil') %}
                                {% set duration = max(2, (end - start + 1)) %}
                                {% set audio = path('media_stream', media.rp({start:start, duration: duration, _format: 'mp3'})) %}
                                <li><a href="#" data-value="{{ start }}">{{ start }}: {{ a.transcript }}</a> ({{ duration }}s) </li>
                            {% endfor %}
                        {% endfor %}

                    </ul>
                </li>
            </ul>
        </div>
        {% endif %}

        <div class="col-lg-6">
            <h3>Transcript by word</h3>

            <div id="transcript">

            {% for words in media.words|batch(50) %}
                <p>
                    {% for word in words %}
                        {# if the word in in a marker, display the entire marker instead, in the right color #}
                        {% if word.marker %}
                           {% if word.marker.firstWordIdx == word.idx %}
                                {% set marker = word.marker %}
                                <i>{{ marker.idx }} {{ marker.note }}</i>
                            {% endif %}
                            {% else %}
                                <span id="w_{{ word.idx }}" class="word" data-word-index={{ word.idx }} data-start="{{ word.startTime }}" data-end="{{ word.endTime }}">{{ word.word }}</span>
                        {% endif %}
                    {% endfor %}
                </p>


            {% endfor %}
            </div>

            {#
            {% set idx = 0 %}
            {% for sentence in media.transcript %}
                <p>
                {% for a in sentence.alternatives %}
                    {% set start = a.words[0].startTime|trim('s')|round(0, 'floor') %}
                    {% set end = a.words[a.words|length - 1].startTime|trim('s')|round(0, 'ceil') %}
                    {% for word in a.words %}
                        {% set idx = idx + 1 %}
                        <span class="word" data-word-index={{ idx }} data-start="{{ word.startTime }}" data-end="{{ word.endTime }}">{{ word.word }}</span>
                    {% endfor %}
                {% endfor %}
                </p>
            {% endfor %}
            #}
        </div>
    </div>


    <h3>Transcript by sentence</h3>
        <div>
        {% for sentence in media.transcript %}
            <table id="list">

                {% for a in sentence.alternatives %}
                    {% set start = a.words[0].startTime|trim('s')|round(0, 'floor') %}
                    {% set end = a.words[a.words|length - 1].startTime|trim('s')|round(0, 'ceil') %}
                    {#
                    {{ dump(start, end) }}
                    #}
                    {% set audio = path('media_stream', media.rp({start:start, duration: max(2, (end - start + 1)), _format: 'mp3'})) %}
                    <tr>
                        <td>
                            <a href="#" data-value="{{ audio }}">Play {{ audio }}</a>
                            <br /><a href="{{ audio }}"><i class="fa fa-download">Download</i> <small>{{ audio }}</small> </a>
                            <br /><a href="{{ path('media_stream', media.rp({_format: 'flac'}) ) }}"><i class="fa fa-download">Flac</i>  </a>

                        </td>

                        <td>
                            {{ a.transcript }}
                        </td>
                        <td>
                            <i>{{ (a.confidence*100)|number_format }}</i>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>

    {% if app.request.get('debug') %}
        <pre>
            {{ media.transcriptJson }}
        </pre>
        {{ dump(media.transcript) }}
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    <script>

    $(function() {

        var element = $("#transcript");

        element.attr('unselectable', 'on').css('user-select', 'none').on('selectstart dragstart', false);

        {#
        $('#myForm').ajaxForm(function() {
            alert("Thank you for your comment!");
        });
        #}

        $('.word').click( function (e) {
            word_index = $(this).data('word-index');
            console.log(e, $(this))

            if (e.shiftKey) {
                $(this).css("color", "red");
                stopTime = $(this).data('end');
                $('#marker_form_lastWordIndex').val(word_index);
                // get the phrase and add to the form



                $('#audio').bind('timeupdate', function () {
                    console.log(stopTime);
                    if (this.currentTime > stopTime) this.pause();
                });
                audio.play();

            } else {
                $(this).css("color", "green");
                time = $(this).data('start');
                $('#marker_form_firstWordIndex').val(word_index);
                console.log(time)
                audio.currentTime = time;
                audio.pause();
            }
        });


        {# this is good for the .flac list
    console.log("jquery loaded");
    xlist.onclick = function(e) {
        console.log("list.onClick");
        e.preventDefault();

        var elm = e.target;
        // the player
        var audio = document.getElementById('audio');

        var source = document.getElementById('audioSource');
//         source.src = elm.getAttribute('data-value');
        time = elm.getAttribute('data-value');
        console.log(time);

        audio.currentTime = time;

        // audio.load(); //call this to just preload the audio without playing
        audio.play(); //call this to play the song right away
    };
        #}
    });
</script>

{% endblock  %}
