{% extends 'base.html.twig' %}

{% block title %}Marker index{% endblock %}

{% block body %}
    <h1>Marker index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Note</th>
                <th>Color</th>
                <th>Idx</th>
                <th>First_word_index</th>
                <th>Last_word_index</th>
                <th>Irrelevant</th>
                <th>Hidden</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marker in markers %}
            <tr>
                <td>{{ marker.id }}</td>
                <td>{{ marker.title }}</td>
                <td>{{ marker.note }}</td>
                <td>{{ marker.color }}</td>
                <td>{{ marker.idx }}</td>
                <td>{{ marker.firstWordIndex }}</td>
                <td>{{ marker.lastWordIndex }}</td>
                <td>{{ marker.irrelevant ? 'Yes' : 'No' }}</td>
                <td>{{ marker.hidden ? 'Yes' : 'No' }}</td>
                <td>{{ marker.startTime }}</td>
                <td>{{ marker.endTime }}</td>
                <td>
                    <a href="{{ path('marker_show', {'id': marker.id}) }}">show</a>
                    <a href="{{ path('marker_edit', {'id': marker.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('marker_new') }}">Create new</a>
{% endblock %}
