{% extends "@SurvosLanding/public_base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block breadcrumbs %}
    <li>
        <a href="{{ path('easyadmin') }}"><i class="fa fa-dashboard"></i> </a>
        <a href="{{ path('survos_landing') }}">Home</a>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="link" href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a href="{{ path('user_registration') }}">Register</a>
            <a href="{{ path('app_login') }}">Login</a>
        {% endif %}

        <a href="{{ path('fcp_xml') }}">XML Files</a>
        |
        {% for p in ['maryann', 'claire', 'kesh'] %}
        <a href="{{ path('project_add_photos_to_markers', {code: p}) }}">{{ p }}</a>
        {% endfor %}
        |
    </li>

{% endblock %}

{% block fixed_header %}

{% endblock %}
{% block body %}
    <ul class="list-inline">
    {{ block('breadcrumbs') }}
    </ul>

    <div class="content">
        {{ block('content') }}
    </div>
{% endblock %}
