{% extends "@SurvosLanding/public_base.html.twig" %}


{% block breadcrumbs %}
    <li>
        <a href="{{ path('easyadmin') }}"><i class="fa fa-dashboard"></i> </a>
        <a href="{{ path('survos_landing') }}">Home</a>
        <a href="{{ path('fcp_xml') }}">XML Files</a>
    </li>

{% endblock %}

{% block fixed_header %}

{% endblock %}
{% block body %}
    <ul class="list-inline">
    {{ block('breadcrumbs') }}
    </ul>

    <div class="content">
        {{ block('content') }}
    </div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link href="{{ asset('/css/app.css') }}" rel="stylesheet">

{% endblock %}
