{% extends 'base.html.twig' %}

{% block title %}{{ project.code }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('project_show', project.rp) }}">{{ project.code }} Transcript</a></li>
    <li><a href="{{ path('project_add_photos_to_markers', project.rp) }}">{{ project.code }} Photos</a></li>
{% endblock %}

{#
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/add_photos.css') }}" rel="stylesheet">
{% endblock %}
#}

{% block content  %}

    {% set isEditor = app.request.get('edit', false) %}

    <form method="post">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-6">
                <h3>Markers</h3>

                <ol>

                {% for marker in markers %}
                    <li>
                    {% set media = marker.media %}

                        <div class="xxrow">
                            {% set photo = marker.bRolls.first %}
                            {% if photo %}
                                {{  photo.highlightedNote|raw }}
                            {% else %}
                                {{  marker.note }}
                            {% endif %}
                        </div>
                    </li>

                <div class="row">

                            <div class="col-md-3">
                                {% set photoUrl =  marker.media.publicUrl('jpg') %}
                                <a href="{{ photoUrl }}">
                                    <img src="{{ photoUrl }}"  style="max-height: 100px; max-width: 200px;" />
                                </a>
                                <div class="caption">
                                    {{ media.filename }}, {{ (marker.startTime/10)|tc }}-{{ (marker.endTime/10)|tc }} ({{ marker.duration/10 }} sec)
                                </div>
                            </div>
                            <div class="col-md-3">
                                {% if marker.bRolls.count %}
                                    {% for photo in marker.brolls %}
                                        {% set photoUrl = photo.media.publicUrl('') %}

                                        <div class="thumbnail" >
                                        <a href="{{ photoUrl }}">
                                            <img src="{{ photoUrl }}"  style="max-height: 100px; max-width: 200px;" />
                                        </a>
                                        <div class="caption">
                                            {{ photo.media.filename }}

                                            {% if isEditor %}
                                                <a class="confirm" href="{{ path('project_clear_broll', project.rp({'broll_id': photo.id})) }}"><i class="fa fa-trash"></i> </a>

                                            {% endif %}
                                            {#
                                            {{ photo.highlightedNote|raw }}
                                            #}


                                            on <b>{{ photo.startWord }}</b> @~{{ photo.calculateStartWordTime|tc }}
                                            <i>{{ marker.duration/10|format(1) }} sec.</i>

                                        </div>
                                        </div>

                                    {% endfor %}
                                {% else %}
                                <img src="https://dummyimage.com/120x80/000/fff&text=no+broll" />
                                {% endif %}
                            </div>

                    <div class="col-md-4">
                                    {% if isEditor %}
                                        <div class="thumbnail" >
                                        <input name="marker_id" type="radio" value="{{ marker.id }}" {% if marker.id == nextMarkerId %}checked="checked"{% endif %}>
                                        <input name="word[{{ marker.id }}]" value="" />
                                        <input type="submit" class="btn btn-sm" value="+Create" />
                                        </div>
                                    {% endif %}

                    </div>
                    </div>

                    <hr />

                {% endfor %}
                </ol>


            </div>

            {% if isEditor %}
            <a class="confirm" href="{{ path('project_clear_broll', project.rp) }}">Clear Broll</a>
            <div class="col-md-{{ isEditor ? 8 : 5 }}">
                <h3>Photos</h3>

                {% for photo in photos %}
                    {% set photoUrl = photo.publicUrl('') %}
                    <div xclass="thumbnail">

                        <a href="{{ photoUrl }}">
                            <img src="{{ photoUrl }}" xstyle="max-height: 300px; max-width: 400px;" />
                        </a>

                            <div class="caption">

                                <a href="{{ path('media_edit', {entity: 'Media', action: 'edit', id: photo.id}) }}">
                                    <i class="fa fa-pencil"></i>
                                </a>

                                <a class="confirm" href="{{ path('media_hide', photo.rp) }}">
                                    <i class="fa fa-eye-slash"></i>
                                </a>

                                <input name="photo_id" type="radio" value="{{ photo.id }}" />

                                {#
                                {% if false and photo.bRolls.count %}
                                    <br />{{ photo.bRolls.first.marker.note }}
                                {% endif %}
                                #}
                                <br />{{ photo.filename }}

                            </div>
                    </div>
                        {% endfor %}


            </div>
            {% endif %}
        </div>

    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.confirm').click(function(){return confirm("are you sure?");});
    </script>
{% endblock %}

