{% extends '@SurvosLanding/public_base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Projects</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Code</th>
            <th>Media</th>
            <th>Transcript</th>
        </tr>
        </thead>
        <tbody>
        {% for p in projects %}
            <tr>
                <td><a title = "{{ p.basePath }}" href="{{ path('project_show', p.rp) }}">{{ p.code }}</a></td>
                <td>{{ p.media.count}}</td>
                <td><a href="{{ path('project_subtitles', p.rp) }}">.srt</a></td>
                <td><a href="{{ path('project_markers', p.rp) }}">.json</a></td>
                <td><a href="{{ path('project_xml', p.rp) }}">.fcpxml</a></td>
                <td><a href="{{ path('project_edl', p.rp) }}">.edl</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

    <a href="{{ path('easyadmin') }}">EZ Admin</a>
{% endblock %}
