{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Base_path</th>
                <th>Honoree_name</th>
                <th>Honoree_title</th>
                <th>Music</th>
                <th>Signs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.code }}</td>
                <td>{{ project.basePath }}</td>
                <td>{{ project.honoreeName }}</td>
                <td>{{ project.honoreeTitle }}</td>
                <td>{{ project.music }}</td>
                <td>{{ project.signs }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}
