{% extends '@SurvosLanding/public_base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Projects</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>File</th>
            <th>Words</th>
        </tr>
        </thead>
        <tbody>
        {% for m in project.media %}
            <tr>
                <td><a href="{{ path('media_show', m.rp) }}">{{ m.filename }}</a></td>
                <td class="right">{{ m.words.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/ProjectController.php'|file_link(0) }}">src/Controller/ProjectController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/project/index.html.twig'|file_link(0) }}">templates/project/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
