{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block breadcrumbs %}
{{ parent() }}
    <li><a href="{{ path('project_show', project.rp) }}">{{ project.code }}</a></li>
{% endblock %}
{% block content  %}

    {% import "media/show.html.twig" as macro %}
<div class="example-wrapper">
    <h1>Project {{ project.code }}</h1>

    <div class="row">
        <div class="col-md-5">
            Markers
        </div>
        <div class="col-md-7">

            {% for m in project.media %}

                <tr>
                    <td><a href="{{ path('media_show', m.rp) }}">{{ m.filename }}</a></td>
                    <td class="right">{{ m.words.count }}</td>
                </tr>
            {% endfor %}


        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>File</th>
            <th>Words</th>
        </tr>
        </thead>
        <tbody>
        {% for m in project.media %}
            <tr>
                <td><a href="{{ path('easyadmin', {entity: 'Media', action: 'edit', id: m.id}) }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="{{ path('media_show', m.rp) }}">{{ m.filename }}</a></td>
                <td class="right">{{ m.words.count }}</td>
                <td>{{ macro.mediaWords(m) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

block javascripts %}
{{ parent() }}
<script src="/js/markers.js"></script>
{% endblock  %}
