{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block breadcrumbs %}
{{ parent() }}
    <li><a href="{{ path('project_show', project.rp) }}">{{ project.code }}</a></li>
{% endblock %}
{% block content  %}

    {% import "media/show.html.twig" as macro %}

    <div id="navbar" class="audio_transcriber">
        transcription blcok
        {{ macro.audio_player(false) }}
    </div>

    <div id="content" class="main example-wrapper">
    <h1>Project {{ project.code }}</h1>

    <div class="row">
        <div class="col-md-5">
            Markers
            <ol>
                {% for m in markers %}
                    {% if not m.hidden and not m.irrelevant %}
                    <li style="color: {{ m.color }}">{{ m.note }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div class="col-md-7">

            {{ block('transcripts') }}



        </div>
    </div>


</div>
{% endblock %}

    {% block transcripts %}
        {% import "media/show.html.twig" as macro %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>File</th>
        <th>Words</th>
    </tr>
    </thead>
    <tbody>
    {% for m in project.media %}
        <tr>
            <td><a href="{{ path('easyadmin', {entity: 'Media', action: 'edit', id: m.id}) }}">
                    <i class="fa fa-pencil"></i>
                </a>
                <a href="{{ path('media_show', m.rp) }}">{{ m.filename }}</a></td>
            <td class="right">{{ m.words.count }}</td>
            <td>
                {{ macro.audio_player(m) }}<br />

                {{ macro.mediaWords(m) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block listMarkers %}
    <ul>
        {% for marker in media.markers %}
            <li style="color:{{ marker.color }}">{{ marker.firstWordIndex }}-{{ marker.lastWordIndex }}: {{ marker.title }} <i>{{ marker.note }}</i></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="/js/markers.js"></script>
{% endblock  %}
