{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_link_tags('project') }}
{% endblock %}


{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ project.code }}</td>
            </tr>
            <tr>
                <th>Base_path</th>
                <td>{{ project.basePath }}</td>
            </tr>
            <tr>
                <th>Honoree_name</th>
                <td>{{ project.honoreeName }}</td>
            </tr>
            <tr>
                <th>Honoree_title</th>
                <td>{{ project.honoreeTitle }}</td>
            </tr>
            <tr>
                <th>Music</th>
                <td>{{ project.music }}</td>
            </tr>
            <tr>
                <th>Signs</th>
                <td>{{ project.signs }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
